 body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
     background: linear-gradient(to right, #48c2f1, #fcfdfe);
    }
    img {
      width: 100px;
      margin-bottom: 20px;
    }
    button {
      background: linear-gradient(135deg, #6a11cb, #2575fc);
      color: white;
      padding: 12px 30px;
      font-size: 18px;
      font-weight: bold;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
      transition: all .3s ease;
      letter-spacing: 1px;
    }